{{#paper-card}}
    {{#paper-card-content}}
        <div class="info">
            <div class="username {{if (eq position game.activePlayer) "active-player"}}">
                {{user.name}}
            </div>
        </div>

        {{#each cards as |card|}}
            {{card-image card=card onClick=(action cardAction)}}
        {{/each}}
    {{/paper-card-content}}
{{/paper-card}}
