{{#paper-card}}
    {{#paper-card-content}}
        <div class="username">
            {{user.name}}
        </div>

        {{#each cards as |card|}}
            {{card-image card=card}}
        {{/each}}
    {{/paper-card-content}}
{{/paper-card}}
