[loggers]
keys=root,aiLogger,coreLogger,engineLogger,webLogger

[handlers]
keys=baseHandler

[formatters]
keys=simpleFormatter,detailedFormatter

[logger_root]
level=DEBUG
handlers=baseHandler

[logger_aiLogger]
handlers=baseHandler
propagate=0
qualname=ai
level=DEBUG

[logger_coreLogger]
handlers=baseHandler
propagate=0
qualname=core
level=DEBUG

[logger_engineLogger]
handlers=baseHandler
propagate=0
qualname=engine
level=DEBUG

[logger_webLogger]
handlers=baseHandler
propagate=0
qualname=web
level=DEBUG

[handler_baseHandler]
class=StreamHandler
level=DEBUG
formatter=detailedFormatter
args=(sys.stdout,)

[formatter_simpleFormatter]
format=%(name)s:%(levelname)s:  %(message)s

[formatter_detailedFormatter]
format=%(asctime)s %(name)s:%(levelname)s %(module)s:%(lineno)d:  %(message)s
datefmt=%Y%m%d %H:%M:%S

