.play-view {
  .play-content {
    overflow: auto;
  }

  md-sidenav {
    overflow: hidden;
  }

  .messages-header {
    background-color: #eee;
  }

  .team-score-list {
    padding-bottom: 0;
  }
}