<div class="flex layout-column">
    {{#paper-sidenav-container  class="inner-sidenav flex"}}
        {{#paper-sidenav class="md-whiteframe-z2" name="left" lockedOpen=true}}
            {{#paper-list}}
                {{team-score score=game.nsScore firstPlayer=game.north.name secondPlayer=game.south.name}}
                {{team-score score=game.ewScore firstPlayer=game.east.name secondPlayer=game.west.name}}
            {{/paper-list}}
        {{/paper-sidenav}}

        {{#paper-card-content class="flex play-content"}}
            {{game-board game=game currentUser=user bid=(action bid) play=(action play)}}
        {{/paper-card-content}}
    {{/paper-sidenav-container}}
</div>
