{{#paper-item class="md-2-line"}}
    <div class="team-score-value md-avatar">
        <span>{{score}}</span>
    </div>

    <div class="md-list-item-text">
        {{player-status game=game position=firstPosition}}
        {{player-status game=game position=secondPosition}}
    </div>
    {{paper-divider}}
{{/paper-item}}
