{{#paper-item class="md-2-line"}}
    <div class="team-score md-avatar">
        <span>{{score}}</span>
    </div>
    <div class="md-list-item-text">
        <div>
            <strong>{{firstPlayer}}</strong>
        </div>
        <div>
            <strong>{{secondPlayer}}</strong>
        </div>
    </div>
    {{paper-divider}}
{{/paper-item}}
