<div class="layout-row layout-align-center">
    <div class="layout-column button-container">
            {{#paper-button raised=true primary=true onClick=(action newGame)}}New Game{{/paper-button}}
            {{#paper-button raised=true onClick=(action joinGame)}}Join Game{{/paper-button}}
            {{#paper-button raised=true onClick=(action viewPastGames)}}View Past Games{{/paper-button}}
    </div>
</div>
