<div class="layout-row layout-align-center">
    <div class="layout-column button-container">
        {{#paper-button raised=true primary=true onClick=(action newGame)}}
            {{t "new"}}
        {{/paper-button}}

        {{#paper-button raised=true onClick=(action joinGame)}}
            {{t "join"}}
        {{/paper-button}}

        {{#paper-button raised=true onClick=(action viewPastGames)}}
            {{t "viewPast"}}
        {{/paper-button}}
    </div>
</div>
