<div class="layout-column layout-align-center">
    <div class="layout-row layout-align-center">
        {{#paper-button raised=true primary=true class="flex-50" onClick=(action startGame)}}
            {{t "start"}}
        {{/paper-button}}
    </div>

    <div class="layout-row layout-align-center">
        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "partner"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}
    </div>

    <div class="layout-row layout-align-center">
        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "leftOpponent"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}

        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "rightOpponent"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}
    </div>
</div>
