@import 'ember-paper';
@import 'app/components/game-board/style';
@import 'app/components/card-image/style';
@import 'app/components/team-score/style';
@import 'app/components/player-status/style';
@import 'app/components/player-hand/style';
@import 'app/components/chat-pane/style';
@import 'app/play/style';

.ember-application > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-toolbar {
  a {
    height: 100%;

    button.md-button {
      height: 100%;
      margin: 0;
    }

    &.active button.md-button {
      background-color: #2196F3;
    }
  }

  .md-toolbar-tools {
    padding-left: 0;
  }
}

.active-player {
  color: #ff4081;
}