$self-hand-width: 828px;
$horizontal-hand-height: 124px;
$horizontal-hand-width: 376px;
$vertical-hand-height: 402px;
$vertical-hand-width: 120px;

.game-board {
  .top-game-board-row {
    justify-content: center;
  }

  .play-surface {
    height: 250px;
    width: 400px;
    background-color: #339C53;
    border: 2px solid #703C0D;
    display: flex;
    flex-direction: column;

    .play-area {
      display: flex;
      flex: 1 1 1px;

      &.self {
        align-items: flex-end;
      }
    }

    .bid-buttons {
      display: flex;
      justify-content: center;
      flex: 1 0 auto;

      button {
        margin: 0;
        min-width: 0;
        border-radius: 0;
      }
    }
  }

  .middle-column {
    align-items: center;
    justify-content: center;
    min-width: 420px;
    max-width: 420px;
  }

  .player-hand {
    margin: 4px;

    & > .ember-view {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    md-card-content {
      padding: 4px;
    }
  }

  .player-hand-horizontal {
    display: flex;
    justify-content: center;

    &.player-hand-self .player-hand {
      width: $self-hand-width;

      .card-image {
        width: initial;
        padding: 0 2px;
      }
    }

    .player-hand {
      display: inline-block;
      height: $horizontal-hand-height;
      width: $horizontal-hand-width;

      md-card-content {
        display: flex;
        flex-direction: row;
      }

      .username {
        display: inline-block;
        vertical-align: top;
        width: 120px;
      }

      .card-image {
        width: 20px;
        overflow: hidden;

        &:last-child {
          width: initial;
        }
      }
    }
  }

  .player-hand-vertical {
    width: 120px;
    display: flex;
    align-items: center;

    .player-hand {
      height: $vertical-hand-height;
      width: $vertical-hand-width;

      .card-image {
        height: 30px;
        overflow: hidden;

        &:last-child {
          height: initial;
        }
      }
    }
  }
}