.game-board {
  .play-surface {
    height: 400px;
    width: 400px;
    background-color:#339C53;
    border:2px solid #703C0D;
  }

  .middle-row {
    align-items: center;
  }

  .player-hand-horizontal {
    display: flex;
    justify-content: center;

    .player-hand {
      display: inline-block;

      md-card-content {
        display: flex;
        flex-direction: row;
      }

      .username {
        display: inline-block;
        vertical-align: top;
        width: 120px;
      }

      .card-image {
        width: 30px;
        overflow: hidden;

        &:last-child {
          width: initial;
        }
      }
    }
  }

  .player-hand-vertical {
    width: 120px;

    .card-image {
      height: 30px;
      overflow: hidden;

      &:last-child {
        height: initial;
      }
    }
  }
}