<div class="flex layout-row top-game-board-row">
    <div class="player-hand-vertical">
        {{player-hand user=leftOpponent}}
    </div>

    <div class="flex layout-column layout-align-center middle-column">
        <div class="player-hand-horizontal">
            {{player-hand user=partner}}
        </div>

        <div class="play-surface"></div>
    </div>

    <div class="player-hand-vertical">
        {{player-hand user=rightOpponent}}
    </div>
</div>

<div class="player-hand-horizontal player-hand-self">
    {{player-hand user=self}}
</div>
