<div class="player-hand-horizontal">
    {{player-hand user=partner}}
</div>

<div class="flex layout-row layout-align-center middle-row">
    <div class="player-hand-vertical">
        {{player-hand user=leftOpponent}}
    </div>

    <div class="play-surface"></div>

    <div class="player-hand-vertical">
        {{player-hand user=rightOpponent}}
    </div>
</div>

<div class="player-hand-horizontal">
    {{player-hand user=self}}
</div>
