/*Development*/
#debug-area
{
    width:300px;
    height:500px;
}
/*End development*/

/*****************************************
** Home page                            **
*****************************************/

#home-buttons-container
{
    margin:0 auto;
    width:290px;
}

/*****************************************
** Bidding                              **
*****************************************/
#bidding-page.ui-dialog, #bidding-page.ui-dialog .ui-header, #bidding-page.ui-dialog .ui-dialog-contain
{
    margin:0 auto;
}

#bidding-page.ui-dialog .ui-header .ui-btn-icon-notext
{
    display:none;
}

#bidding-page.ui-dialog .ui-content
{
    overflow-y:hidden;
}

#bidding-page.ui-dialog .ui-content, #bidding-page.ui-dialog .ui-header
{
    padding-left:0;
    padding-right:0;
}

#bidding-page.ui-dialog  .ui-content *
{
    text-align:center;
}

#bid-controls
{
    clear:both;
    text-align:center;
}

#bid-controls .ui-btn-inner
{
    padding-left:8px!important;
    padding-right:8px!important;
}

#opponent-bid-container
{
    margin:0 auto;
    width:300px;
}

.bidding-label
{
    clear:both;
    margin:0;
}

.bid-list.partner
{
    margin:0 auto;
    width:150px;
}

.bid-list.opponent
{
    float:left;
    margin:0 0 12px 0;
    width:150px;
}

.clear-both
{
    clear:both;
}

/*****************************************
** Game page                            **
*****************************************/
#game-page .ui-navbar h3
{
    margin:0;
}

#game-page .ui-navbar .ui-btn
{
    cursor:default;
    padding-top:5px;
    min-height:50px;
}

#hand
{
    clear:left;
    float:left;
}

#right-content
{
    float:left;
    width:300px;
}

#right-content > *
{
    width:100%;
}

#right-content .ui-btn
{
    margin:0;
}

#right-content input
{
    padding-left:0;
    padding-right:0;
}

#output-list
{
    margin-bottom:0;
    margin-top:3px;
    max-height:285px;
    overflow-y:scroll;
}

#left-content
{
    /*display:none;*/
    float:left;
}

#play-surface
{
    background-color:#339C53;
    border:2px solid #703C0D;
    height:245px;
    width:290px;
}

#scoreboard *
{
    text-align:center;
}

#waiting-message
{
    font-weight:bold;
    text-align:center;
}

.bottom-row
{
    height:auto!important;
}

.chat-message
{
    font-weight:normal;
}

.condensed-list
{
    margin:0!important;
}

.condensed-list li
{
    padding:5px!important;
}

.active-border
{
    border:3px solid blue!important;
    opacity:1!important;
    padding:-3px!important;
}

.hand-opponent
{
    padding:8px;
    position:relative;
        top:55px;
}

.hand-opponent > img
{
    margin-top:-55px;
}

.hand-partner, #bid-hand
{
    padding:8px;
    position:relative;
}

.hand-partner
{
    left:50px;
}

#bid-hand
{
    left:25px;
}

.hand-partner > img, #bid-hand > img
{
    margin-left:-50px;
}

.middle-row
{
    float:left;
}

.no-mobile
{
    display:none;
}

.tile
{
    height:96px;
    width:72px;
}

.tile-button
{
    display:inline;
    float:left;
    margin:1px;
}

.tile-button .ui-btn-inner
{
    padding:0.6em;
}

.ui-content#game-content
{
    margin:0 auto;
    overflow-y:hidden;
    width:320px;
}

.other-player.partner
{
    height:116px;
    margin:0 auto;
    padding:3px;
    width:290px;
}

.other-player.opponent
{
    height:247px;
    padding:3px;
    width:116px;
}

.other-player > div
{
    background-color:#EFEFEF;
    border:1px solid #000000;
    border-radius:8px;
    box-shadow:0px 1px 4px #555555;
    height:98%;
    margin:0 auto;
    width:98%;
}

/* Special message styles */
.error-msg {
    background-color: #BB0000;
    
    /* This will clear default BG image so solid color displays if none of the gradients work*/
    background-image: none;
    
    background-image: -webkit-linear-gradient(top, #B00, #888);
    background-image: -moz-linear-gradient(top, #B00, #888);
    background-image: -ms-linear-gradient(top, #B00, #888);
    background-image: linear-gradient(top, #B00, #888);
    color: black;
    text-shadow: none;
}

/* Non-mobile styles*/
@media all and (min-width: 330px)
{
    #right-content
    {
        margin-left:10px;
        width:350px;
    }
    
    .ui-content#game-content
    {
        min-width:900px;
    }
    
    .no-mobile
    {
        display:block;
    }
}