html {
    font-family:helvitica,sans-serif;
}

body {
    background-image:url(../images/bg-body.jpg);
    margin:0px;
}

kbd {
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:3px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}

button.large-button {
    font-size:1.2em;
    padding:5px;
}

.cinch-view {
    background-color:#222222;
    background-image:url(../images/bg-view.jpg);
    border:1px solid #00aaff;
    border-top:0;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow:0px 0px 30px #000000;
    color:#eeeeee;
    display:none;
    margin:0 auto 10px auto;
    padding:5px;
    width:310px;
}

.header {
    background-color:#000000;
    background-image: none;
    background-image: -webkit-linear-gradient(top, #444444, #000000);
    background-image: -moz-linear-gradient(top, #444444, #000000);
    background-image: -ms-linear-gradient(top, #444444, #000000);
    background-image: linear-gradient(top, #444444, #000000);
    border-bottom:1px solid #00aaff;
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
    color:#ffffff;
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom:5px;
    margin-top:-5px;
    padding:0;
}

.header h1 {
    margin:0;
    text-align:center;
    text-shadow:2px 2px 5px #000000;
}

.small-title {
    font-weight: bold;
    border-bottom: 1px dotted black;
    text-shadow: 2px 2px 5px black;
}

.small-title.white-border {
    border-color:white;
}

.value-white-bg {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
    font-weight:bold;
    margin-top: 2px;
    overflow: hidden;
}

.value-white-bg:empty:after {
    content: '\a0';
}

.value-white-bg.name-display-east-west {
    max-width: 98%;
    max-height: 80px;
}

.value-white-bg.name-display-north {
    max-width: 135px;
    max-height: 65px;
}

.value-white-bg.name-display-dealer {
    max-width: 98%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.value-white-bg.top-setting {
    vertical-align: middle;
}

.chat-pane {
    width: 300px;
}

.chat-pane > * {
    width: 100%;
}

.chat-pane .output-list {
    text-align:left;
}

.margin-center {
    margin: 0 auto;
}

#browser-warning {
    display: none;
}

#browser-warning, noscript {
    background-color: #ffffff;
    padding: 5px;
}

noscript {
    font-size: 30px;
}

/* Home page */
#home-page {
    text-align:center;
    width:290px;
}

span.username-label {
    font-weight:bold;
}

input.username, input.chat-text {
    border:0;
    border-radius:5px;
    padding:5px;
}

input.username {
    display:inline;
    width:auto;
}

/* Game lobby */
.game .seat-list {
    text-align:center;
}

.newgame button {
    background-color:dimgrey;
    color:whitesmoke;
}

.game-lobby-container {
    display: inline-block;
}

.game-lobby-container.games-container {
    vertical-align: top;
}

.game-lobby-container.chat-pane {
    margin: 10px;
}

/* AI lobby */
#ai-upper {
    text-align:center;
}

.ai-agent, .game {
    margin-top:5px;
}

.ai-agent .header, .game .header {
    padding:5px;
    font-size:1.5em;
    font-weight:bold;
}

.ai-agent span.label {
    border-right: 1px solid #333;
    box-shadow: 1px 0px 0px #999;
    display:inline-block;
    font-weight:bold;
    min-width:95px;
}

.ai-agent-item {
    padding-top:2px;
    margin-bottom:5px;
}

.ai-agent-item, #ai-upper {
    border-bottom:1px solid #333333;
    box-shadow:0px 1px 0px #999999;
    padding-bottom:4px;
}

.east-west-seat-container {
    margin:0 auto;
    width:300px;
}

.seat-list.north, .seat-list.south {
    margin:0 auto;
    width:132px;
}

.seat-list.east-west {
    float:left;
    margin:0 0 12px 0;
    width:132px;
}

.seat-list.east-west.with-south {
    margin:3px;
}

.seat-list.south {
    clear: both;
}

/* Hand-end view */
#hand-end-page {
    text-align:center;
}

#hand-end-page .info-container > span, .title-value-container {
    border:1px solid #ffffff;
    border-radius:8px;
    padding:5px;
}

#hand-end-page .info-container > span {
    display:inline-block;
}

#hand-end-page .info-container span.highlight .value-white-bg {
    background-color:#00aaff;
}

/* Game page  */
#game-page .col4 {
    border-right:1px solid #00aaff;
    display:inline-block;
    margin-right:-5px; /*Takes care of inline-block spacing (4px) and border (1px)*/
    padding:0;
    vertical-align:top;
    width:25%;
    text-align:center;
}

#game-page .col4 > div {
    padding:5px;
}

#game-controls {
    border:1px solid #eeeeee;
    border-radius:5px;
    display:inline-block;
    font-weight:bold;
    padding:3px;
}

.card-disabler {
    background-color:#000000;
    height:96px;
    opacity:0.5;
    position:absolute;
    width:71px;
}

#right-content {
    float:left;
    width:300px;
}

#right-content > * {
    width:100%;
}

.chat-submit-button {
    margin-left:5px;
}

.output-list {
    background-color:#444444;
    border:1px solid #eeeeee;
    border-radius:5px;
    margin-bottom:0;
    margin-top:3px;
    max-height:285px;
    overflow-y:scroll;
    padding:5px;
}

.output-list > div {
    border-bottom: 1px solid #CCC;
    box-shadow: 0px 2px 0px #222;
    padding: 3px;
}

#left-content {
    float:left;
}

#play-surface {
    position: relative;
    background-color:#339C53;
    border:2px solid #703C0D;
    overflow: hidden;
    height:245px;
    width:290px;
}

.chat-title {
    font-size:1.2em;
    font-weight:bold;
}

.waiting-message {
    font-weight:bold;
    text-align:center;
}

.chat-message {
    font-weight:normal;
}

.active-border {
    border:3px solid blue!important;
    opacity:1;
}

.active-border.ab-top {
    margin-top:-2px!important;
}

.active-border.ab-right {
    margin-right:-2px!important;
}

.active-border.ab-bottom {
    margin-bottom:-2px!important;
}

.active-border.ab-left {
    margin-left:-2px!important;
}

.active-border.ab-z {
    position:relative!important;
    z-index:5;
}

.compact-fieldset {
    padding: 2px;
    margin: 5px 0;
}

.seat-invite-link {
    max-width: 100%;
}

@keyframes reminderPulse {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }

    to {
        background-color: rgba(255, 255, 255, 0);
    }
}

@-webkit-keyframes reminderPulse {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }

    to {
        background-color: rgba(255, 255, 255, 0);
    }
}

.active-border.reminder-pulse {
    animation-duration: 0.4s;
    animation-name: reminderPulse;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: reminderPulse;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-out;
}

.middle-row {
    float:left;
}

.no-mobile {
    display:none;
}

.tile-button {
    display:inline;
    float:left;
    margin:1px;
    text-align: center;
}

#game-content {
    margin:0 auto;
    overflow-y:hidden;
    width:320px;
}

.other-player {
    padding:3px;
}

.other-player.partner {
    height:116px;
    margin:0 auto;
    width:290px;
}

.other-player.opponent {
    height:247px;
    width:116px;
}

.other-player.partner > div > div > div {
    display:inline-block;
    vertical-align: top;
}

.other-player > div {
    background-color:#444444;
    border:1px solid #eeeeee;
    border-radius:8px;
    height:98%;
    margin:0 auto;
    width:98%;
}

.other-player > div > div {
    padding:8px;
}

.other-player .card-counter {
    color:#000000;
    font-size:3em;
    font-weight:bold;
    text-shadow:2px 2px 2px #aaaaaa;
    text-align:center;
}

.other-player .card-counter.horiz {
    background-image:url(../images/b1fh.png);
    height:71px;
    width:96px;
}

.other-player .card-counter.vert {
    background-image:url(../images/b1fv.png);
    height:96px;
    width:71px;
}

.card-image {
    position: absolute;
    height: 96px;
    width: 72px;
    z-index: 1;
}

/* Special message styles */
.error-msg {
    background-color: #BB0000;
    
    /* This will clear default BG image so solid color displays if none of the gradients work*/
    background-image: none;
    
    background-image: -webkit-linear-gradient(top, #B00, #888);
    background-image: -moz-linear-gradient(top, #B00, #888);
    background-image: -ms-linear-gradient(top, #B00, #888);
    background-image: linear-gradient(top, #B00, #888);
    color: black;
}

/* Non-mobile styles*/
@media all and (min-width: 330px)
{
    body {
        margin: 0px 10px;
    }

    .cinch-view {
        width:900px;
    }

    #right-content {
        margin-left:10px;
    }
    
    #game-content {
        min-width:900px;
    }
    
    .no-mobile {
        display:block;
    }
}
