{{#paper-card as |card|}}
    {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
            <h2>{{label}}</h2>
        {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#card.content}}
        {{#if user}}
            {{user.name}}
        {{else}}
            {{#paper-button onClick=(action takeSeat seat) primary=true raised=true class="join-button"}}
                {{t "join"}}
            {{/paper-button}}
        {{/if}}
    {{/card.content}}
{{/paper-card}}
